# Ignore the bin and obj folders in the project folder
/BitcoinAddressValidator/bin
/BitcoinAddressValidator/obj

# Ignore other Visual Studio build outputs (if you have other project folders)
/**/bin
/**/obj

# Ignore Visual Studio temporary files
*.log
*.user
*.suo

# Ignore NuGet packages
*.nupkg
